<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bintang5.supremie">
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen">
        <activity
            android:name=".activity.ChooseDiningMethod">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.ChoosePaymentMethod" />
        <activity android:name=".activity.ChooseMieBrand" />
        <activity android:name=".activity.ChooseMieFlavour" />
        <activity android:name=".activity.ChooseDrink" />
        <activity android:name=".activity.ChoosePedas" />
        <activity android:name=".activity.ChooseTopping" />
        <activity android:name=".activity.OrderSummary" />
    </application>

</manifest>